.professor-page {
  padding: 20px;
  position: relative;
}

.filters {
  margin-bottom: 20px;
}

.diplomas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.diploma-item {
  background: #f5f5f5;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
  min-height: 300px;
}

.diploma-item:hover {
  background-color: #e0e0e0;
}

.diploma-item h3 {
  margin: 0 0 10px 0;
  margin-top: 0;
}

.diploma-item p {
  margin: 5px 0;
}

.diploma-item button {
  margin-top: 10px;
}

.diploma-details {
  background: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  max-width: 500px;
}

.diploma-details p {
  margin: 5px 0;
}

.diploma-details label {
  display: block;
  margin-top: 10px;
}

.diploma-details input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.diploma-details button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.diploma-details button:hover {
  background-color: #3700b3;
}

button[style] {
  float: right;
  margin-top: -50px;
}

.invite-form-container {
  margin-top: 10px;
}

.invite-form {
  background: white;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 20px;
}

.invite-form h2 {
  font-size: 12px;
  margin-bottom: 20px;
  text-align: center;
}

.invite-form label {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  margin-left: 25px;
}

.invite-form input {
  margin-left: 25px;
  width: 70%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.invite-form button {
  font-size: 12px;
  width: 40%;
  padding: 10px;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.invite-form button:hover {
  background-color: #3700b3;
}

.invite-form .error {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}

.file-upload-container {
  margin-top: 10px;
}

.file-upload-container label {
  display: block;
  margin-bottom: 5px;
}

.file-upload-container input {
  width: 100%;
  padding: 5px;
}

.error {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}

.grade-input{
  max-width: fit-content;
}